@charset "UTF-8";
@font-face {
  font-family: "BebasNeue";
  font-display: swap;
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-twitch:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

._icon-youtube:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "OpenSans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "OpenSans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
  align-self: center;
}
.select__body {
  position: relative;
}
.select__title {
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 133.3333333333%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.select__value {
  min-width: 3.0625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  column-gap: 0.375rem;
}
.select__value:before {
  content: "";
  align-self: center;
  flex: 0 0 0.625rem;
  height: 0.5rem;
  transition: all 0.3s ease 0s;
  background: url("../img/icons/arrow.svg") 0 0 no-repeat;
}
._select-open .select__value:before {
  transform: rotate(-180deg);
}
.select__options {
  color: #fff;
  position: absolute;
  top: 2.125rem;
  min-width: 100%;
  left: -0.375rem;
  background: #010101;
  opacity: 0.9;
  padding: 0.1875rem 1.25rem 0.125rem 0.375rem;
}
.select__options > *:not(:last-child) {
  margin-bottom: 0.1875rem;
}
@media (max-width: 47.99875em) {
  .select__options > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.select__option {
  width: 100%;
  display: block;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 133.3333333333%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  cursor: pointer;
  transition: color 0.3s ease;
}
.select__option._select-selected {
  background-color: #eee;
}
@media (any-hover: hover) {
  .select__option:hover {
    color: #FFB548;
  }
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.row-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.625rem;
}
@media (min-width: 75em) {
  .row-menu {
    min-height: 6.25rem;
  }
}
@media (min-width: 48em) and (max-width: 75em) {
  .row-menu {
    min-height: clamp( 5rem , 2.7777777778rem  +  4.6296296296vw , 6.25rem );
  }
}
@media (max-width: 48em) {
  .row-menu {
    min-height: 5rem;
  }
}
.row-menu__logo {
  position: relative;
  z-index: 55;
  flex: 0 0 4.5833333333%;
}
.title {
  font-family: "BebasNeue";
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (min-width: 76.875em) {
  .title {
    font-size: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .title {
    font-size: clamp( 1.5rem , 0.2692307692rem  +  6.1538461538vw , 5rem );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-family: "BebasNeue";
  font-style: normal;
  font-weight: 400;
  line-height: 120.8333333333%;
  text-align: center;
  letter-spacing: 2px;
}
@media (min-width: 76.875em) {
  .subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .subtitle {
    font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .subtitle {
    font-size: 1rem;
  }
}

.yellow-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 3.75rem;
  padding: 0 1.125rem;
  border-radius: 4px;
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 16px;
  line-height: 137.5%;
  text-align: center;
  color: #1A1917;
  background-image: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
}
@media (any-hover: hover) {
  .yellow-button:hover {
    background-image: linear-gradient(194.68deg, #dd9b38 11.27%, #f0a61b 90.4%);
  }
}

.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}
.menu {
  flex-basis: 51.1666666667%;
}
@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #dda339;
    transition: left 1s ease;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 49;
    width: 100%;
    height: 5rem;
    background-color: #7f5405;
    transition: left 1s ease;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.9375rem;
  padding: 0.625rem 0;
}
@media (min-width: 75em) {
  .menu__list {
    column-gap: 3rem;
  }
}
@media (min-width: 48em) and (max-width: 75em) {
  .menu__list {
    column-gap: clamp( 0.625rem , -3.5972222222rem  +  8.7962962963vw , 3rem );
  }
}
@media (max-width: 48em) {
  .menu__list {
    column-gap: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    padding: 6.25rem 0.9375rem;
  }
}
.menu__link {
  position: relative;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 133.3333333333%;
  letter-spacing: 0.06875rem;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: color 0.3s ease;
}
.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 3;
  bottom: -0.125rem;
  width: 0;
  height: 0.125rem;
  background-color: #f09409;
  transition: width 0.3s ease-out;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.125rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover::before {
    width: 100%;
  }
}

.link-game-service {
  flex-basis: 13.8333333333%;
  display: flex;
}
@media (min-width: 75em) {
  .link-game-service {
    column-gap: 1.25rem;
  }
}
@media (min-width: 48em) and (max-width: 75em) {
  .link-game-service {
    column-gap: clamp( 0.75rem , -0.1388888889rem  +  1.8518518519vw , 1.25rem );
  }
}
@media (max-width: 48em) {
  .link-game-service {
    column-gap: 0.75rem;
  }
}
.link-game-service__select-lang {
  align-self: center;
}
.link-game-service__decor-line {
  width: 0.125rem;
  opacity: 0.5;
  background-color: #fff;
}
.link-game-service__list-link {
  align-self: center;
  display: flex;
}
@media (min-width: 76.875em) {
  .link-game-service__list-link {
    column-gap: 1.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .link-game-service__list-link {
    column-gap: clamp( 0.9375rem , 0.8056318681rem  +  0.6593406593vw , 1.3125rem );
  }
}
@media (max-width: 20em) {
  .link-game-service__list-link {
    column-gap: 0.9375rem;
  }
}
.link-game-service__item-link {
  transition: transform 0.3s ease;
}
@media (any-hover: hover) {
  .link-game-service__item-link:hover {
    transform: rotate(90deg);
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 52;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (min-width: 90em) {
  .page__hero {
    padding-top: 21.25rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .page__hero {
    padding-top: clamp( 6.25rem , 1.9642857143rem  +  21.4285714286vw , 21.25rem );
  }
}
@media (max-width: 20em) {
  .page__hero {
    padding-top: 6.25rem;
  }
}
@media (min-width: 76.875em) {
  .page__hero {
    padding-bottom: 3.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__hero {
    padding-bottom: clamp( 1.25rem , 0.5027472527rem  +  3.7362637363vw , 3.375rem );
  }
}
@media (max-width: 20em) {
  .page__hero {
    padding-bottom: 1.25rem;
  }
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  background: url("../img/bg-img/01.jpg") 0 0/cover no-repeat;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.9375rem;
}
.hero__content {
  position: relative;
  z-index: 1;
  text-align: center;
}
.hero__content > *:not(:last-child) {
  margin-bottom: 1.125rem;
}
.hero__title {
  line-height: 100%;
}
.hero__btn-bay-now {
  column-gap: 0.6875rem;
}
.hero__btn-bay-now :nth-child(2) {
  display: inline-block;
  width: 0.0625rem;
  height: 1.5rem;
  background-color: #1A1917;
  opacity: 0.5;
}
.hero__btn-scroll {
  position: relative;
  z-index: 1;
  align-self: center;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 183.3333333333%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hero__btn-scroll span {
  transition: color 0.3s ease;
}
.hero__btn-scroll::before {
  content: "";
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 1.5rem;
  height: 0.75rem;
  background: url("../img/icons/scroll-down.svg") 0 0/cover no-repeat;
  animation: arrow-animation 0.8s infinite ease;
}
@keyframes arrow-animation {
  0% {
    top: 10px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 10px;
  }
}
@media (any-hover: hover) {
  .hero__btn-scroll::before:hover {
    color: #FFB548;
  }
}
@media (any-hover: hover) {
  .hero__btn-scroll:hover span {
    color: #FFB548;
  }
}
